header {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-name {
  font-size: 24px;
}

.logout-button {
  padding: 8px 16px;
  background-color: #fff;
  color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-left: auto;
}

.logout-button:hover {
  background-color: #0056b3;
  color: #fff;
}
